# **INITIALIZATION**

In [3]:
import pandas as pd
import numpy as nd
import matplotlib.pyplot as plt
import seaborn as sns

# URL to get raw CSV data from GitHub
url = "https://raw.githubusercontent.com/ayushinto-space/Performance-Metrics-and-Sales-Analysis-Using-Python/main/Sales_Dataset_Uncleaned.csv"
df = pd.read_csv(url)
df.head()

,Order ID,Order Date,Customer Name,Region,City,Category,Sub-Category,Product Name,Quantity,Unit Price,Discount,Sales,Profit,Payment Mode
0,10001,2024-10-19,Kashvi Varty,South,Bangalore,Books,Non-Fiction,Non-Fiction Ipsum,2,36294,5,68958.6,10525.09,Debit Card
1,10002,2025-08-30,Advik Desai,North,Delhi,Groceries,Rice,Rice Nemo,1,42165,20,33732.0,6299.66,Debit Card
2,10003,2023-11-04,Rhea Kalla,East,Patna,Kitchen,Juicer,Juicer Odio,4,64876,20,207603.2,19850.27,Credit Card
3,10004,2025-05-23,Anika Sen,East,Kolkata,Groceries,Oil,Oil Doloribus,5,37320,15,158610.0,36311.02,UPI
4,10005,2025-01-19,Akarsh Kaul,West,Pune,Clothing,Kids Wear,Kids Wear Quo,1,50037,10,45033.3,9050.04,Debit Card

# **DATA CLEANING**

In [7]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
df.drop_duplicates(inplace=True)

num_cols = ['quantity', 'unit_price', 'discount', 'sales', 'profit']
df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')
df[num_cols] = df[num_cols].apply(pd.to_numeric, errors='coerce')

# missing value handles
for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

cat_cols = ['customer_name','region','city','category','sub-category',
            'product_name','payment_mode']
for col in cat_cols:
    df[col] = df[col].fillna('Unknown')

# data uniformity
df['profit_margin'] = (df['profit'] / df['sales'])*100
df['category'] = df['category'].str.title()
df['sub-category'] = df['sub-category'].str.title()
df['city'] = df['city'].str.title()
df['region'] = df['region'].str.title()
df['payment_mode'] = df['payment_mode'].str.title()
df['order_month_name'] = df['order_date'].dt.month_name()
df['order_month_num'] = df['order_date'].dt.month


# data outliners
q99 = df['quantity'].quantile(0.99)
df['quantity'] = df['quantity'].clip(upper=q99)
p99 = df['unit_price'].quantile(0.99)
df['unit_price'] = df['unit_price'].clip(upper=p99)

print(df.info())
print(df.isna().sum())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          5000 non-null   int64
 1   order_date        5000 non-null   datetime64[ns]
 2   customer_name     5000 non-null   object
 3   region            5000 non-null   object
 4   city              5000 non-null   object
 5   category          5000 non-null   object
 6   sub-category      5000 non-null   object
 7   product_name      5000 non-null   object
 8   quantity          5000 non-null   int64
 9   unit_price        5000 non-null   float64
 10  discount          5000 non-null   int64
 11  sales             5000 non-null   float64
 12  profit            5000 non-null   float64
 13  payment_mode      5000 non-null   object
 14  profit_margin     5000 non-null   float64
 15  order_month_name  5000 non-null   object
 16  order_month_num   5000 non-null   int32
dtypes: datetime64[ns](1), float64(4), int32(1), int64(3), object(8)
memory usage: 644.7+ KB
None
order_id            0
order_date          0
customer_name       0
region              0
city                0
category            0
sub-category        0
product_name        0
quantity            0
unit_price          0
discount            0
sales               0
profit              0
payment_mode        0
profit_margin       0
order_month_name    0
order_month_num     0
dtype: int64

,order_id,order_date,customer_name,region,city,category,sub-category,product_name,quantity,unit_price,discount,sales,profit,payment_mode,profit_margin,order_month_name,order_month_num
0,10001,2024-10-19,Kashvi Varty,South,Bangalore,Books,Non-Fiction,Non-Fiction Ipsum,2,36294.0,5,68958.6,10525.09,Debit Card,15.262911,October,10
1,10002,2025-08-30,Advik Desai,North,Delhi,Groceries,Rice,Rice Nemo,1,42165.0,20,33732.0,6299.66,Debit Card,18.675620,August,8
2,10003,2023-11-04,Rhea Kalla,East,Patna,Kitchen,Juicer,Juicer Odio,4,64876.0,20,207603.2,19850.27,Credit Card,9.561640,November,11
3,10004,2025-05-23,Anika Sen,East,Kolkata,Groceries,Oil,Oil Doloribus,5,37320.0,15,158610.0,36311.02,Upi,22.893273,May,5
4,10005,2025-01-19,Akarsh Kaul,West,Pune,Clothing,Kids Wear,Kids Wear Quo,1,50037.0,10,45033.3,9050.04,Debit Card,20.096329,January,1

# **EXPLORATION**